= turbo_frame_tag id=dom_id(@question)
  = render 'show_question', question: @question
  = render partial: 'answers/answer', collection: @question.answers if @question.answers.present?
  = render "answers/form"
